{% extends 'layout/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/seller.css') }}"/>
{% if current_user.is_authenticated %}
    <table class="table table-bordered">


    <thead>
    <tr>
        <th class="text-center fs-2" colspan="5">Hoa don</th>
    </tr>
    <tr>
        <th class="text-left" colspan="2">Ten khach hang:</th>
        <th class="text-left" colspan="3">Ngay nhap:</th>
    </tr>

    <tr>
        <th class="text-center col-1">STT</th>
        <th class="text-center">Sach</th>
        <th class="text-center col-2">The Loai</th>
        <th class="text-center col-1">So Luong</th>
        <th class="text-center col-2">Don gia</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td class="text-center">1</td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
    </tr>
    <tr>
        <td class="text-center">2</td>
        <td><input type="email" class="form-control" placeholder="Nhập email"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
    </tr>
    <tr>
        <td class="text-center">3</td>
        <td><input type="password" class="form-control" placeholder="Nhập mật khẩu"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
        <td><input type="text" class="form-control" placeholder="Nhập tên"></td>
    </tr>
    <tr>
        <th class="text-left" colspan="5">Ten nhan vien</th>
    </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-success mt-3">Gửi</button>
{% endif %}
{% endblock %}