
{% extends 'layout/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/warehouse.css') }}"/>
{% if current_user.is_authenticated %}
<table class="table table-bordered table-custom">
    <thead>
    <tr>
        <th class="text-center fs-2" colspan="5">Phieu nhap sach</th>
    </tr>
    <tr>
        <th class="text-center" colspan="5">Ngay nhap:</th>
    </tr>
    <tr>
        <th class="text-center col-1">STT</th>
        <th class="text-center">Sach</th>
        <th class="text-center col-2">The Loai</th>
        <th class="text-center col-2">Tac gia</th>
        <th class="text-center col-1">So luong</th>
    </tr>
    </thead>
    <datalist id="suggestions">
        {% for n in names %}
            <option value="{{ n.name }}" data-id="{{ n.id }}" data-author="{{ n.author }}" data-type="{{ n.category.name }}">
        {% endfor %}
    </datalist>
    <tbody class="warehouse">


    </tbody>
</table>
<button class="btn btn-success mt-3" onclick="renderRowInput()">Thêm</button>
<button type="submit" class="btn btn-success mt-3">Gửi</button>

{% endif %}
{% endblock %}
