.card-body h4 {
    overflow: hidden; /* Ẩn phần nội dung dài hơn */
    text-overflow: ellipsis; /* Thêm dấu "..." khi tên sản phẩm quá dài */
    white-space: nowrap;
}

.card-body {
    background-color: var(--white-color);
}

#login {
    color: var(--beige-color);
}

#register {
    color: var(--white-color);
}

#logout {
    color: var(--white-color);
}

.welcome img {
    color: var(--beige-color);
}