


* {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main {
    background-color:#D8C4B6;
    margin-top: 75px;
}

body {
    background-color: #F5EFE7;
    color: #ffffff;
}
