
:root {
    --navy-color: #2A3663;
    --blue-color: #B59F78;
    --beige-color: #D8DBBD;
    --white-color: #FAF6E3;
}

* {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main {
    background-color: var(--blue-color);
    margin-top: 75px;
    padding-top: 25px;
}

body {
    background-color: var(--white-color);
    color: white;
}

.navbar {
    background-color:var(--navy-color);
}

.none {
    display: none;
}


