{% extends 'layout/base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}"/>
<div class="row mt-2">
    <div class="col-md-4 col-6">
        <img src="{{ book.image }}" class="img-fluid rounded" />
        <button class="btn" onclick="addToCart({{ book.id }}, '{{ book.name }}', {{ book.price }})">Đặt hàng</button>
    </div>
    <div class="col-md-8 col-6 info-book">
        <h1 class="text-center">{{ book.name }}</h1>
        <h2 class="text-center">{{ book.price }} VNĐ</h2>
        <div class="row">
            <div class="col-3  text-center py-2">Tên Tác giả: </div>
            <div class="col-3  text-center py-2">{{ book.author }}</div>
        </div>
        <div class="row">
            <div class="col-3  text-center py-2">Thể loại: </div>
            <div class="col-3  text-center py-2">{{ book.category.name }}</div>
        </div>
        <p class="text-break">{{ book.description }}</p>
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="mt-2">

    <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Nội dung bình luận"></textarea>
    <button class="btn btn-success mt-1" onclick="addComment({{ book.id }})">Bình luận</button>
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/books/{{ book.id }}">đăng nhập</a> để bình luận!</p>
{% endif %}

<ul class="list-group mt-2" id="comments">
    {% for c in comments %}
  <li class="list-group-item mb-5">

      <div class="row">
          <div class="col-md-2 col-6">
              <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-9 col-6">
              <p class="fw-bold">{{ c.user.name }}</p>
              <p class="text-break">{{ c.content }}</p>
              <p class="date">{{ c.created_date }}</p>
          </div>
      </div>

  </li>
    {% endfor %}



</ul>

<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow();
    }
</script>
{% endblock %}